# Created by .ignore support plugin (hsz.mobi)
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/google-java-format.xml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/vcs.xml
.idea/workspace.xml
fang_dreamer.iml
src/main/resources/
src/test/
